<section class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
         <div class="card card-user corrective-form">
            <div class="content">

              <%= image_tag "https://s3.amazonaws.com/reelmovement/logo-1.jpg", class: "plain-logo center-block"   %> 

            <h2 class=" light-acta-book text-center">EDIT ACCOUNT</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email, class: 'light-acta-book' %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :password, class: 'light-acta-book' %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, class: 'light-acta-book' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :current_password, class: 'light-acta-book' %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Update",class: 'btn btn-success btn-fill btn-block' %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", subscribe_path(current_user),class: 'btn btn-success btn-fill btn-block', data: { confirm: "Are you sure?" }, method: :delete %></p>



<%= link_to "Back", :back %>

    
            </div>
        </div>   
      </div>

       <div class="col-md-4">  
<div class="card card-price">
                            <div class="content">
                                <h6 class="category">Your Plan</h6>
                                <h1 class="price">
                                    <small>$</small>14<small> /mo</small>
                                </h1>                        
                                
                                <ul class="list-unstyled list-lines">
                                    <li>
                                      <i class="fa fa-check"></i> <b>Unlimited</b> access to all programs, recipes, and corrective exercise
                                    </li>
                                    <li>
                                      <i class="fa fa-check"></i>  <b>Constant</b> updates and new programs
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i>  <b>Learn</b> to cook healthy meals
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i> </i> <b>Cancel</b> anytime
                                    </li>
                                </ul>
                            </div>
                              <div class="footer">
            <%= form_tag charges_path(1), class: "text-center", method: :post do %>
            


<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-email= <%= current_user.email %>
          data-description="Update your card information"
          data-image="https://s3.amazonaws.com/reelmovement/logo.png" 
          data-name= "Reel Movement"
          data-label= "Update your card info"
           data-panel-label="Update Card Details"
          data-allow-remember-me=false
          data-locale="auto">
          </script>

<% end %>       
                              </div>
</div>

</div> 

    </div>
  </div>
</section>


