<section class= "user-background," id="recipe-background">

<h1 class="content-title text-center"> Healthy recipes right at your fingertips</h1>
       

</section>

<div class="row">
    <div class="col-md-12 update-info">
      <h3 class="text-center"> NEW RECIPES COMING SOON <i class="icon-happy"> </i> </h3>
      
    </div>   

<section class="bg-light-gray">
  <div class="container">
     <h2 class="title text-center">  FIND A NEW RECIPE</h2>
    <div class="card card-horizontal program-cards">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="image" >
                                           <%= image_tag "https://s3.amazonaws.com/reelmovement/Salmon.jpg" %>                   
                                        <div class="filter filter-azure">

                                      <a href="#recipe-one" class="open-popup-link btn btn-neutral btn-round"> Learn how to make it </a> 


                                          
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                     <div class="content">
                                       
    
                                        
                                         <h4 class="title text-center"> <%= Recipe.first.title %> </h4>
                                        
                                           <p> Ingredients: <%=Recipe.first.ingredients %></p>


                       

                    <div class="col-md-6">
                         <ul class="list-group">
                        <li class="list-group-item">Preparation time: <%= Recipe.first.preparation %></li>
                        <li class="list-group-item">Total cooking time: <%= Recipe.first.total_time %></li>
                       </ul>
                    </div>

                     <div class="col-md-6">
                         <ul class="list-group">
                        <li class="list-group-item">Amount of servings: <%= Recipe.first.servings %></li>
                        <li class="list-group-item"> Calories: <%= Recipe.first.calories %></li>
                       </ul>
                    </div>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>  <!-- end of card-->

         <div class="card card-horizontal program-cards">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="image" >
                                           <%= image_tag "https://s3.amazonaws.com/reelmovement/steak.jpg" %>                   
                                        <div class="filter filter-azure">

                                           <a href="#recipe-two" class="open-popup-link btn btn-neutral btn-round"> Learn how to make it </a>  
                                          
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                     <div class="content">
                                       
    
                                        
                                         <h4 class="title text-center"> <%= Recipe.find(2).title %> </h4>
                                        
                                           <p> Ingredients: <%=Recipe.find(2).ingredients %></p>


                       

                    <div class="col-md-6">
                         <ul class="list-group">
                        <li class="list-group-item">Preparation time: <%= Recipe.find(2).preparation %></li>
                        <li class="list-group-item">Total cooking time: <%= Recipe.find(2).total_time %></li>
                       </ul>
                    </div>

                     <div class="col-md-6">
                         <ul class="list-group">
                        <li class="list-group-item">Amount of servings: <%= Recipe.find(2).servings %></li>
                        <li class="list-group-item">Calories: <%= Recipe.find(2).calories %></li>
                       </ul>
                    </div>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>  <!-- end of card-->

                


  </div>
</section>
<%= render 'layouts/recipemodal' %>
