

<section class= "user-background" id="allprogram">

<h1 class="content-title text-center"> Find The Perfect Program for You</h1>
       

</section>




  <section class="container">
    <div class="card card-horizontal">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="image" >
                                          <%= image_tag "workout.jpg", class: "img-responsive" %>                               
                                        <div class="filter filter-azure">

                                          <%= form_for current_user do |f| %>
                                           <%= f.fields_for :programs do |ff| %>
                          <%= ff.text_field :title, :value => "General Conditioning", class: "hidden" %>

    
       
    
 
    <% end %>
  <%= f.submit "Change Program", class: "btn btn-neutral btn-round", id:'card-button' %>


<% end %>

                                          
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                     <div class="content">
                                       
    
                                        <a class="card-link" href="#">
                                            <h4 class="title text-center"> <%= Program.first.title %></h4>
                                        </a>
                                        <a class="card-link" href="#">
                                            <p class="description">Edgerank completely fails to have the effect it was originally designed for nice product. This will be a really interesting post about Facebook's biggest mistake yet...</p>
                                        </a>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>



      
  </section>































