

<section class= "user-background" id="allprogram">

<h1 class="content-title text-center"> Find The Perfect Program for You</h1>
       

</section>




  <section class="container">
    <div class="row">
      <div class="col-md-6">
        <%= raw @program.first.code_one %>
      </div>

      <div class="col-md-6">
         <%=  raw @program.last.code_one %>
      </div>


         


         
                   
        
        <%= form_for current_user,  html: { method: :put } do |f| %>
  Addresses:
  <ul>
    <%= f.fields_for :programs do |ff| %>
      <li>
       
          <%= ff.text_field  :title %>

      </li>
       
 
    <% end %>
     <div class="actions">
    <%= f.submit "Update" %>
  </div>

  </ul>


<% end %>

 
        <%= form_for current_user do |f| %>
  Addresses:
  <ul>
    <%= f.fields_for :programs do |ff| %>
      <li>
       
          <%= ff.text_field  :program_title %>

      </li>
       <div class="actions">
    <%= ff.submit "Update" %>
  </div>
    <% end %>
  </ul>


<% end %>


     

      
    </div>
  </section>

  


      
