


<section class= "user-background" id="corrective-background">
<div class="container">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <div class="card card-user corrective-form">
    <div class="content">

      <%= image_tag "https://s3.amazonaws.com/reelmovement/logo.png", class: "plain-logo center-block"   %>  

    <%= form_for(:corrective_assessment, :url => {:action => 'create'}) do |f| %>

                         <div class="form-group"> 
                          <%= f.label :occupation, 'What is your current occupation?' %>
                          <%= f.text_field :occupation, class: 'form-control' %>
                         </div>
                         
                          <div class="form-group">  
                          <%= f.label :sitting, 'Does your occupation require long periods of sitting?' %>
                          <%= f.label :sitting, 'Yes'%>
                          <%= f.radio_button :sitting, true %>
                           <%= f.label :sitting, 'No' %>
                          <%= f.radio_button(:sitting, false) %>
                          </div>

                           <div class="form-group"> 
                          <%= f.label :dress_shoes, 'Do you wear dress shoes or heels for your occupation?' %>
                           <%= f.label :dress_shoes, 'Yes' %>
                          <%= f.radio_button(:dress_shoes, true) %>
                           <%= f.label :dress_shoes, 'No' %>
                          <%= f.radio_button(:dress_shoes, false) %>
                          </div>

                          <div class="form-group"> 
                          <%= f.label :repetition, 'Does your occupation require you to work on a computer for long periods of time?' %>
                           <%= f.label :repetition, 'Yes' %>
                          <%= f.radio_button(:repetition, true) %>
                           <%= f.label :repetition, 'No' %>
                          <%= f.radio_button(:repetition, false) %>
                          </div>

                          <div class="form-group"> 
                          <%= f.label :recreation, 'Do you participate in any sports or recreational activity (baseball, football, martial arts, golf, tennis, etc.)?' %>
                          <%= f.text_field :recreation, class: 'form-control' %>
                          </div>

                           <div class="actions">
                            <%= f.submit "Finish assessment", class: 'btn btn-success btn-fill btn-block' %>
                            </div>

                           <% end %>
    
    </div>
  </div>
</div>
</div>
</div>
       

</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <p> The goal of corrective exercise is to identify any neuromusculoskeletal dysfunctions you may have. Once thats done you can attempt a program that may improve any muscles imbalances you may have. This is done using a corrective exercise continuum of inhibition, lengthing, activation, and integration techniques. Check out <a href="http://www.nasm.org/"> NASM</a> for more information on corrective exercise.</p> 
      </div>      
    </div>
  </div>
</section>


<section class="bg-light-gray">
  <div class="container">
    <div class="card card-horizontal program-cards">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="image" >
                                           <%= image_tag "https://s3.amazonaws.com/reelmovement/hipflexor.jpg" %>                   
                                        <div class="filter filter-green">

                                      <a href="#recipe-one" class="open-popup-link btn btn-neutral btn-round"> Lets get started </a> 


                                          
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                     <div class="content">
                                       
    
                                        
                                         <h4 class="title text-center"> Excessive squat with a forward lean </h4>
                                        
                                           <p> Proper mechanics are extremely important. Improper mechanics can lead to potential injuries. An execssive forward lean during squats may lead to lower back pain or  quadricep and groin strains. Lets working on fixing some muscle imbalnces you may have.  </p>


                       

                    <div class="col-md-6">
                         <ul class="list-group">
                        <li class="list-group-item">Preparation time: <%= Recipe.first.preparation %></li>
                        <li class="list-group-item">Total cooking time: <%= Recipe.first.total_time %></li>
                       </ul>
                    </div>

                     <div class="col-md-6">
                         <ul class="list-group">
                        <li class="list-group-item">Amount of servings: <%= Recipe.first.servings %></li>
                        <li class="list-group-item">Duration: 4 weeks</li>
                       </ul>
                    </div>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>  <!-- end of card-->

         <div class="card card-horizontal program-cards">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="image" >
                                           <%= image_tag "https://s3.amazonaws.com/reelmovement/badsquats.jpg" %>                   
                                        <div class="filter filter-green">

                                           <a href="#recipe-two" class="open-popup-link btn btn-neutral btn-round"> Lets start training</a>  
                                          
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                     <div class="content">
                                       
    
                                        
                                         <h4 class="title text-center"> Squats with knees moving inward </h4>
                                        
                                           <p> Your Knee moving inward during squats may mean that your calf, TFL/IT-band, and adductors may be tight and this is indicative of weakness in the anterior tibialis, posterior tibilais, and gluteus medius and maximus. Wow, thats sounds like a bit much <i class="icon-sad"></i>. 
                                           Don't worry, we will take you everystep of the way </p>


                       

                    <div class="col-md-6">
                         <ul class="list-group">
                        <li class="list-group-item">Preparation time: <%= Recipe.find(2).preparation %></li>
                        <li class="list-group-item">Total cooking time: <%= Recipe.find(2).total_time %></li>
                       </ul>
                    </div>

                     <div class="col-md-6">
                         <ul class="list-group">
                        <li class="list-group-item">Amount of servings: <%= Recipe.find(2).servings %></li>
                        <li class="list-group-item">Duration: 4 weeks</li>
                       </ul>
                    </div>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>  <!-- end of card-->

                


  </div>
</section>
<%= render 'layouts/recipemodal' %>
