


<section class= "user-background" id="corrective-background">
<div class="container">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <div class="card card-user corrective-form">
    <div class="content">

      <%= image_tag "https://s3.amazonaws.com/reelmovement/logo.png", class: "plain-logo center-block"   %>  

    <%= form_for(:corrective_assessment, :url => {:action => 'create'}) do |f| %>

                         <div class="form-group"> 
                          <%= f.label :occupation, 'What is your current occupation?',class: 'sofia-extra-light' %>
                          <%= f.text_field :occupation, class: 'form-control' %>
                         </div>
                         
                          <div class="form-group">  
                          <%= f.label :sitting, 'Does your occupation require long periods of sitting?',class: 'sofia-extra-light' %>
                          </br>
                          <%= f.label :sitting, 'Yes'%>
                          <%= f.radio_button :sitting, true %>
                           <%= f.label :sitting, 'No' %>
                          <%= f.radio_button(:sitting, false) %>
                          </div>

                           <div class="form-group"> 
                          <%= f.label :dress_shoes, 'Do you wear dress shoes or heels for your occupation?',class: 'sofia-extra-light' %>
                          </br>
                           <%= f.label :dress_shoes, 'Yes' %>
                          <%= f.radio_button(:dress_shoes, true) %>
                           <%= f.label :dress_shoes, 'No' %>
                          <%= f.radio_button(:dress_shoes, false) %>
                          </div>

                          <div class="form-group"> 
                          <%= f.label :repetition, 'Does your occupation require you to work on a computer for long periods of time?',class: 'sofia-extra-light' %>
                           <%= f.label :repetition, 'Yes' %>
                          <%= f.radio_button(:repetition, true) %>
                           <%= f.label :repetition, 'No' %>
                          <%= f.radio_button(:repetition, false) %>
                          </div>

                          <div class="form-group"> 
                          <%= f.label :recreation, 'Write a sport or recreational activity you spend a lot of time performing(baseball, football, martial arts, golf, tennis, etc.)',class: 'sofia-extra-light' %>
                          <%= f.text_field :recreation, class: 'form-control' %>
                          </div>

                           <div class="actions">
                            <%= f.submit "Finish assessment", class: 'btn btn-success btn-fill btn-block' %>
                            </div>

                           <% end %>
    
    </div>
  </div>
</div>
</div>
</div>
       

</section>



<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <p> The goal of corrective exercise is to identify any neuromusculoskeletal dysfunctions you may have. Once thats done you can attempt a program that may improve any muscles imbalances you may have. This is done using a corrective exercise continuum of inhibition, lengthing, activation, and integration techniques. Check out <a href="http://www.nasm.org/"> NASM</a> for more information on corrective exercise.</p> 
      </div>      
    </div>
  </div>
</section>

<div class="row">
    <div class="col-md-12 update-info">
      <h3 class="text-center"> NEW PROGRAMS COMING SOON <i class="icon-happy"> </i> </h3>
      
    </div>   


<section class="bg-light-gray">
  <div class="container">
    <div class="card card-horizontal program-cards">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="image" >
                                           <%= image_tag "https://s3.amazonaws.com/reelmovement/hipflexor.jpg" %>                   
                                        <div class="filter filter-green">

                                      <a href="#modal-dialog" class="open-popup-link btn btn-neutral btn-round"> Lets get started </a> 


                                          
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                     <div class="content">
                                       
    
                                        
                                         <h4 class="title text-center"> Excessive squat with a forward lean </h4>
                                        
                                           <p> Proper mechanics are extremely important. Improper mechanics can lead to potential injuries. An execssive forward lean during squats may lead to lower back pain or  quadricep and groin strains. Lets working on fixing some muscle imbalances you may have.  </p>


           

       <a class="popup-with-schedule btn btn-info btn-round center-block" href="#modal-dialog">Click for more info</a>

     
      
                                      
                                    </div>
                                </div>
                            </div>
                        </div>  <!-- end of card-->

         <div class="card card-horizontal program-cards">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="image" >
                                           <%= image_tag "https://s3.amazonaws.com/reelmovement/badsquats.jpg" %>                   
                                        <div class="filter filter-green">

                                           <a href="#knee-valgus" class="open-popup-link btn btn-neutral btn-round"> Lets start training</a>  
                                          
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                     <div class="content">
                                       
    
                                        
                                         <h4 class="title text-center"> Squats with knees moving inward </h4>
                                        
                                           <p> Your Knee moving inward during squats may mean that your calf, TFL/IT-band, and adductors may be tight and this is indicative of weakness in the anterior tibialis, posterior tibilais, and gluteus medius and maximus. Wow, thats sounds like a bit much <i class="icon-sad"></i>. 
                                           Don't worry, we will take you everystep of the way </p>


                        <a class="popup-with-schedule btn btn-info btn-round center-block" href="#modal-dialog">Click for more info</a>

                   
                                      
                                    </div>
                                </div>
                            </div>
                        </div>  <!-- end of card-->

                        <div class="card card-horizontal program-cards">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="image" id="shoulder" >
                                           <%= image_tag "https://s3.amazonaws.com/reelmovement/uppercrossedsyndrome.jpg" %>                   
                                        <div class="filter filter-green">

                                           <a href="#rounded-shoulders" class="open-popup-link btn btn-neutral btn-round"> Lets start training</a>  
                                          
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                     <div class="content">
                                       
    
                                        
                                         <h4 class="title text-center"> Upper Crossed Syndrome (Rounded shoulders)</h4>

                                         <p> Shoulder pain is an extremely common issue <i class="icon-sad"></i>. It is reported to affect at least 21% of the general population. If you spend hours working on a computer, holding a child, or performing repetitive overhead movements then this program is for you. If you find that your shoulders are tight and rounded or your postured is slouched forward then give this program a try.
                                            </p>

                                           
                        <a class="popup-with-schedule btn btn-info btn-round center-block" href="#modal-dialog-2">Click for more info</a>

                   
                                      
                                    </div>
                                </div>
                            </div>
                        </div>  <!-- end of card-->

                

                


  </div>
</section>

    <%= render 'layouts/schedule' %>
 <%= render 'layouts/correctiveprogram' %>
