


<section class= "user-background" id="corrective-background">
<div class="container">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <div class="card card-user corrective-form">
    <div class="content">

     <%= image_tag "logo.png", class: "plain-logo center-block"   %> 

    <%= form_for(:corrective_assessment, :url => {:action => 'create'}) do |f| %>

                         <div class="form-group"> 
                          <%= f.label :occupation, 'What is your current occupation?' %>
                          <%= f.text_field :occupation, class: 'form-control' %>
                         </div>
                         
                          <div class="form-group">  
                          <%= f.label :sitting, 'Does your occupation require long periods of sitting?' %>
                          <%= f.label :sitting, 'Yes'%>
                          <%= f.radio_button :sitting, true %>
                           <%= f.label :sitting, 'No' %>
                          <%= f.radio_button(:sitting, false) %>
                          </div>

                           <div class="form-group"> 
                          <%= f.label :dress_shoes, 'Do you wear dress shoes or heels for your occupation?' %>
                           <%= f.label :dress_shoes, 'Yes' %>
                          <%= f.radio_button(:dress_shoes, true) %>
                           <%= f.label :dress_shoes, 'No' %>
                          <%= f.radio_button(:dress_shoes, false) %>
                          </div>

                          <div class="form-group"> 
                          <%= f.label :repetition, 'Does your occupation require you to work on a computer for long periods of time?' %>
                           <%= f.label :repetition, 'Yes' %>
                          <%= f.radio_button(:repetition, true) %>
                           <%= f.label :repetition, 'No' %>
                          <%= f.radio_button(:repetition, false) %>
                          </div>

                          <div class="form-group"> 
                          <%= f.label :recreation, 'Do you participate in any sports or recreational activity (baseball, football, martial arts, golf, tennis, etc.)?' %>
                          <%= f.text_field :recreation, class: 'form-control' %>
                          </div>

                           <div class="actions">
                            <%= f.submit "Finish assessment", class: 'btn btn-info btn-fill btn-block' %>
                            </div>

                           <% end %>
    
    </div>
  </div>
</div>
</div>
</div>
       

</section>


<section class="bg-light-gray">
  <div class="container">
     <h2 class="title text-center">  Level 1 Programs</h2>
    <div class="card card-horizontal program-cards">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="image" >
                                           <%= image_tag "https://s3.amazonaws.com/reelmovement/Salmon.jpg" %>                   
                                        <div class="filter filter-azure">

                                      <a href="#recipe-one" class="open-popup-link btn btn-neutral btn-round"> Learn how to make it </a> 


                                          
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                     <div class="content">
                                       
    
                                        
                                         <h4 class="title text-center"> <%= Recipe.first.title %> </h4>
                                        
                                           <p> Ingredients: <%=Recipe.first.ingredients %></p>


                       

                    <div class="col-md-6">
                         <ul class="list-group">
                        <li class="list-group-item">Preparation time: <%= Recipe.first.preparation %></li>
                        <li class="list-group-item">Total cooking time: <%= Recipe.first.total_time %></li>
                       </ul>
                    </div>

                     <div class="col-md-6">
                         <ul class="list-group">
                        <li class="list-group-item">Amount of servings: <%= Recipe.first.servings %></li>
                        <li class="list-group-item">Duration: 4 weeks</li>
                       </ul>
                    </div>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>  <!-- end of card-->

         <div class="card card-horizontal program-cards">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="image" >
                                           <%= image_tag "https://s3.amazonaws.com/reelmovement/steak.jpg" %>                   
                                        <div class="filter filter-azure">

                                           <a href="#recipe-two" class="open-popup-link btn btn-neutral btn-round"> Learn how to make it </a>  
                                          
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                     <div class="content">
                                       
    
                                        
                                         <h4 class="title text-center"> <%= Recipe.find(2).title %> </h4>
                                        
                                           <p> Ingredients: <%=Recipe.find(2).ingredients %></p>


                       

                    <div class="col-md-6">
                         <ul class="list-group">
                        <li class="list-group-item">Preparation time: <%= Recipe.find(2).preparation %></li>
                        <li class="list-group-item">Total cooking time: <%= Recipe.find(2).total_time %></li>
                       </ul>
                    </div>

                     <div class="col-md-6">
                         <ul class="list-group">
                        <li class="list-group-item">Amount of servings: <%= Recipe.find(2).servings %></li>
                        <li class="list-group-item">Duration: 4 weeks</li>
                       </ul>
                    </div>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>  <!-- end of card-->

                


  </div>
</section>
<%= render 'layouts/recipemodal' %>
