    <header>

        <div class="container">
             <div class="row">

                <div class="intro-text col-lg-8">
              <%= raw @program.code %>
                </div>

                    <div class="intro-text col-lg-4">

                        <%= form_for(:assessment, :url => {:action => 'create'}) do |f| %>

                            <div class="form-group"> 
                                <%= f.text_field(:rhr) %>
                            </div>

                             <div class="form-group"> 
                                <%= f.text_field(:push_ups) %>
                             </div>
                             
                              <div class="form-group"> 
                                <%= f.text_field(:planks) %>
                              </div>
                              
                              <div class="form-group">   
                                <%= f.text_field(:wall_sits) %>
                              </div>
                              
                               <div class="form-group">   
                                <%= f.text_field(:hamstring) %>
                               </div> 

                            <%= submit_tag("create assessment") %>




                     <% end %>
                   
                    </div>    


                    
               
            </div>
        </div>
    </header>

                   
    </section>


 

