    <header>

        <div class="container">
             <div class="row">

                <div class="intro-text col-lg-8">
              <%= raw @program.code_one %>
                </div>

                    <div class="intro-text col-lg-4">

                        <%= form_for(:assessment, :url => {:action => 'create'}) do |f| %>

                            <div class="form-group"> 
                                <%= f.label :rhr, "Resting Heart Rate" %>
                                <%= f.text_field(:rhr) %>
                            </div>

                             <div class="form-group"> 
                                <%= f.label :push_ups, "Push ups" %>
                                <%= f.text_field(:push_ups) %>
                             </div>
                             
                              <div class="form-group"> 
                                <%= f.label :planks, "planks" %>
                                <%= f.text_field(:planks) %>
                              </div>
                              
                              <div class="form-group"> 
                                <%= f.label :wall_sits, "Wall sits" %>  
                                <%= f.text_field(:wall_sits) %>
                              </div>
                              
                               <div class="form-group"> 
                                <%= f.label :hamstring, "Flexibility" %>  
                                <%= f.text_field(:hamstring) %>
                               </div> 

                            <%= submit_tag("create assessment") %>




                     <% end %>
                   
                    </div>    


                    
               
            </div>
        </div>
    </header>

                   
    </section>


 

