    <section class="user-background" id= "assessment-img">

        <div class="container">
             <div class="row">

             

                <div  id= "pop-1" class="intro-text col-lg-8 video-container assessment-pops" 
                data-html="true" 
                data-toggle="popover"
                data-placement="right" 
                title="Take your assessment" 
                data-content="<div> <p> Lets get started. Follow along with us in the video. Check out the useful tips below before you get started. </br> </p><div class='pull-right tour btn btn-primary btn-xs'> Take a tour</div>  <div class='pull-left close-btn btn btn-primary btn-xs'> Skip tour</div> </br>  </p>">
              <%= raw @program.code_one %>
                </div>

                    <div class="intro-text col-lg-4  center-block">
                    <div id="pop-2" class="card card-user assessment-pops"
                    data-html="true"
                    data-placement="auto left"  
                    data-toggle="popover"  
                    title="Assessment Form" 
                    data-content=" <div> <p> Grab a pen and paper and once your done with your assessment fill out the form to the right. Be honest with your answers </p></br> <div id = 'next' class='pull-right btn btn-primary btn-xs'> next tip</div> </br> </div>">
                    <div class="content">

                  <%= image_tag "https://s3.amazonaws.com/reelmovement/logo.png", class: "plain-logo center-block"   %> 
    
              

                        <%= form_for(:assessment, :url => {:action => 'create'}) do |f| %>

                            <div class="form-group"> 
                               
                                <%= f.text_field :rhr, autofocus: true, class: 'form-control', placeholder: "Resting Heart Rate"  %>
                            </div>

                             <div class="form-group"> 
                                 <%= f.text_field :push_ups, autofocus: true, class: 'form-control', placeholder: "Push ups"  %>
                             </div>
                             
                              <div class="form-group"> 
                              <%= f.label "How long did you plank?" %> </br>
                              <%= f.select :planks, options_for_select([['Less than 50 seconds', 49], ['60 to 85 seconds', 70], ['one minute and thirty seconds', 90], ['one minute and forty seconds or more', 90]]), {}, { autofocus: 'true', class: 'form-control'} %>

                             
                              </div>
                              
                              <div class="form-group"> 
                               
                               
                                <%= f.label "what was you time for wall sits?" %> </br>
                              <%= f.select :wall_sits, options_for_select([['Less than 50 seconds', 49], ['60 to 85 seconds', 70], ['one minute and thirty seconds', 90], ['one minute and forty seconds or more', 90]]), {}, { autofocus: 'true', class: 'form-control'} %>
                              </div>
                              
                               <div class="form-group"> 

                                <%= f.label "what was your flexibility score?" %> </br>
                              <%= f.select :hamstring, options_for_select([['One', 1], ['Two', 2], ['Three', 3]]), {}, { autofocus: 'true', class: 'form-control'} %>
                               </div> 

                            <div class="actions">
                            <%= f.submit "Finish assessment", class: 'btn btn-info btn-fill btn-block' %>
                            </div>

                          </div>


                     <% end %>
                   
                    </div>    

                    </div>
                    
               
            </div>
            </div>
</section>

<section class="bg-light-gray">
  <div class="container">
     <div class="row">
             
              <div class="col-md-6 col-md-offset-3">
                <h2 id="pop-3" class="text-center tips-header assessment-pops"
                data-html="true" 
                data-toggle="popover"
                data-placement="top" 
                title=" Helpful Tips" 
                data-content="<div> <p> Go through these tips before you take your fitness assessment. Lets get started </p> </br> <div id = 'close-tour' class='pull-left btn btn-fill btn-success btn-xs'> Finish tour</div> </br>"> 
                Here are some helpful tips to guide you </h2>

                <p> 
                 Great, lets find the perfect program for you <i class="icon-happy"></i>. First off make sure you are well rested and have a bottle of water handy. This assessment is designed to find a program for your current fitness level so make sure to be <b> Honest </b> with your results. Now, grab a pen and paper to record your results and lets do this!!
                </p>

                <ul class="list-unstyled" id="tips">
                          <li>
                             <i class="fa fa-check"></i> Keep track of your numbers
                            </li>
                             <li>
                              <i class="fa fa-check"></i> Focus on mechanics. Good form is a must.
                               </li>
                                    <li>
                                        <i class="fa fa-check"></i> Dont be afraid to pause the video and go longer. We might only do a minute of planks or wall sits but if you can go longer go for it and record your results
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i> </i> Do not drink any coffee or any stimulant before hand as that will increase&nbsp;your&nbsp;heart&nbsp;rate 
                                    </li>
                                     <li>
                                        <i class="fa fa-check"></i> </i> Grab a timer or use your phone and time yourself 
                                    </li>
                                </ul>


              </div>
            
            </div>
   </div> <!-- end of container -->  
   </section>
    

   