

<section class= "user-background"  id = "<%= current_user.program.style %>">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"> <%= raw current_user.program.title %> </h2>
                   
                </div>
            </div>
            
               
                <div class="user-program video-container program-video">
                    
                     
             <%= raw current_user.program.code_one %> 
                                            
                </div>
            <div class="row">
        <div class=" col-md-6 col-md-offset-3">

        <ul id="program-list">
          
          <li> <a href="#program-one" class="open-popup-link btn btn-success btn-fill"> Core training </a> </li>

          <li> <a href="#program-two" class="open-popup-link btn btn-success btn-fill"> cardio training</a> </li>

          <li> <a href="#program-three" class="open-popup-link btn btn-success btn-fill">flexibility and mobility</a> </li>
         </ul>  
        </div>
        </div>
  </section>




  <section class="user-background bg-light-gray" id='user-cards'>
    <div class="container">
      <div class="row">
        <div class="col-md-4"> 
          <div class="card card-background"> <!-- start of card -->
            <div class="image">
    
           <%= image_tag "https://s3.amazonaws.com/reelmovement/articles.jpg"  %> 
    
            <div class="filter"></div>
    
            </div>
              <div class="content">
              <a href="#" class="pull-right">
    
                    <i class="icon-happy"></i>
    
                 </a>                          
    
            <a href="/blog"><br>
    
                <h4 class="title text-center">Reel Movement Blog</h4>
                <p class="text-center"> Learn more about health and fitness </p>
    
                
    
            </a>
    
            </div>
    

    
        

        </div> <!-- end card -->
        </div>

        <div class="col-md-4"> 
          <div class="card card-background"> <!-- start of card -->
            <div class="image">
    
            <%= image_tag "cleaneating.jpg"  %> 

            <div class="filter"></div>
    
          </div>
             <div class="content">
                <a href="#" class="pull-right">
                  <i class="icon-happy"></i>
                </a>                          
    
             <a href="/recipes"><br>
    
                <h4 class="title text-center">Find your perfect meal</h4>
                <p class=" text-center"> Healthy recipes made easy</p>
    
                
    
            </a>
            </div>
          </div> <!-- end card -->
        </div>

          <div class="col-md-4"> 
            <div class="card card-background"> <!-- start of card -->
              <div class="image">
    
                <%= image_tag "planks1.jpg"  %> 

                <div class="filter"></div>
              </div>
                
                <div class="content">
                  <a href="#" class="pull-right">
                    <i class="icon-happy"></i>
                  </a>                          
    
                  <a href="/users/:user_id/programs/:id"><br>
    
                  <h4 class="title text-center">Corrective Exercise</h4>
                  <p class="text-center"> Lets fix some muscle imbalances</p>
                  </a>
                </div>
            </div> <!-- end card -->
          </div>
        </div>
    </div>  <!-- end of container -->
  </section>


<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8">

        <%= raw current_user.program.schedule %> 
      
      </div>
      <div class="col-md-4"> 
            <div class="card card-background"> <!-- start of card -->
              <div class="image">
    
                 <%= image_tag "board.jpg"  %> 

                <div class="filter"></div>
              </div>
                
                <div class="content">
                  <h4 class="title text-center">Your assessment results</h4>
    
    
                
                   <ul>
                      
                      <li> <span class="badge pull-right"> <%=current_user.assessment.rhr %></span>  Resting Heart Rate </li>
                      <li > <span class="badge pull-right"><%=current_user.assessment.push_ups%></span> Push Ups</li>
                      <li > <span class="badge pull-right"><%=current_user.assessment.planks %></span> Planks</li>
                      <li> <span class="badge pull-right"><%=current_user.assessment.wall_sits%></span> Wall Sits</li>
                    </ul>
                
                </div>
            </div> <!-- end card -->
    </div>     
  </div>
</section>



 <%= render 'layouts/programmodal' %>

