

<section class= "user-background"  id = "<%= current_user.program.style %>">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="program-title"> <%= raw current_user.program.title %> Program</h1>

                    <div class="do center-block">
                    <h2 id="first-workout"> <%= current_user.program.title_one %> </h2>
                    </div>
                </div>
            </div>
            
               
                <div id="welcome-pop" class="user-program video-container program-video"
                data-html="true" 
                data-toggle="popover"
                data-placement="top" 
                title="Welcome" 
                data-content="<div> <p>Alright, if its your first time here go ahead and take a tour. If not, skip the tour and lets get started </br> </p><div class='pull-right tour btn btn-primary btn-xs'> Take a tour</div>  <div class='pull-left close-btn btn btn-primary btn-xs'> Skip tour</div> </br> ">
                    
                     
             <%= raw current_user.program.code_one %> 
                                            
                </div>
            <div class="row pop-1"
                data-html="true" 
                data-toggle="popover"
                data-placement="top" 
                title="Workouts" 
                data-content="<div> <p> Every video attached to your program is here. Just click the button and your next workout will pop right up, but before you do that make sure you look at the program schedule down below </p> </div> </div> <div id = 'close-tour' class='pull-left btn btn-fill btn-success btn-xs'> Finish tour</div> <div id = 'next-1' class='pull-right btn btn-primary btn-xs'> next tip</div> </br> </div>">
        <div class=" col-md-12 program-modal">

          <%= raw current_user.program.frame %> 

        </div>
        </div>
        </div>
  </section>




 

<section class="bg-light-gray profile-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8">

          <h2 class="text-center">Your workout schedule</h2>

          <div class="assess-schedule center-block pop-2"
          data-html="true" 
                data-toggle="popover"
                data-placement="top" 
                title="Workouts" 
                data-content="<div> <p> Here is your workout schedule. Make sure you read it and follow it closely </p> </div> </div> <div id = 'close-tour' class='pull-left btn btn-fill btn-success btn-xs'> Finish tour</div> <div id = 'next-2' class='pull-right btn btn-primary btn-xs'> next tip</div> </br> </div>">

          <p id= "schedule-p"> Hey <%= current_user.name %>, below is your program schedule. Now, its up to you to keep track and make sure you put in the work. You won't regret it. Just remember consistency is the key. Click on the calendar below to print your workout schedule. Keep it close by.</p>
          </div>
            <h2 class="text-center"> <a href="/schedule"> <i class="fa fa-calendar fa-2x calendar-tooltip" type="button" class="btn btn-default btn-tooltip" data-toggle="tooltip" data-placement="top" title="Print your schedule here"></i> </a> </h2>

        <%= raw current_user.program.schedule %> 
      </div>
      <div class="col-md-4"> 

        <h2 class="text-center"> 
                Assessment results</h2>

          <div class="assess-schedule center-block">
            <p id= "assessment-p" class="pop-3"
            data-html="true" 
                data-toggle="popover"
                data-placement="top" 
                title="Workouts" 
                data-content="<div> <p> here are your assessment results. Want to take it again? Just click the button below. Scroll down below and continue your tour </p> </div> </div> <div id = 'close-tour' class='pull-left btn btn-fill btn-success btn-xs'> Finish tour</div> <div id = 'next-3' class='pull-right btn btn-primary btn-xs'> next tip</div> </br> </div>"> Unhappy with your results or maybe you think you didn't perform at your best. Then why not retake your assessment again and see if all of this hard work you're doing is paying off.  </p>
            </div>

              <h2 class="text-center"><i class="fa fa-thumbs-o-up fa-2x"></i></h2>

         <div class="card card-price center-block" id="card-assess">
 

                           
                            <div class="content">

                                <h4 class="text-center">YOUR ASSESSMENT RESULTS </h4>
                      
                                
                                <ul class="list-unstyled list-lines">

                                    <li> <i class="fa fa-heartbeat"></i> Resting Heart Rate <span class="pull-right"> <%=current_user.assessment.rhr %></span>
                                    </li>
                                     <li> <i class="fa fa-hand-paper-o"></i> Push Ups <span class="pull-right"> <%=current_user.assessment.push_ups %></span>
                                    </li>
                                     <li> <i class="fa fa-user-secret"></i>Planks <span class="pull-right"> <%=current_user.assessment.planks %></span>
                                    </li>
                                     <li> <i class="fa fa-thumbs-up"></i> Wall Sits <span class="pull-right"> <%=current_user.assessment.wall_sits %></span>
                                    </li>
                                     <li> <i class="fa fa-hand-peace-o"></i> Hamstring Stretch <span class="pull-right"> <%=current_user.assessment.hamstring %></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="footer">
                              <button id='assess-button' class="btn btn-fill btn-success center-block"> <%= link_to "Retake your assessment", subscriptions_path %></button>
                            </div>
                        </div>

                   
       </div>
    </div>     
  </div>
</section>

 <section class="user-background bg-light-gray" id='user-cards'>
    <div class="container">
      <div class="row">
        <div class="col-md-4"> 
          <div  class="card card-background center-block pop-4"
           data-html="true" 
                data-toggle="popover"
                data-placement="top" 
                title="Reel Movement Blog" 
                data-content="<div> <p> Here we have the Reel Movement Blog. Time to start learning about fitness and your body. Click here and find plenty of articles to educate yourself about your health </p> </div> <div id = 'close-tour' class='pull-left btn btn-fill btn-success btn-xs'> Finish tour</div><div id = 'next-4' class='pull-right btn btn-primary btn-xs'> next tip</div> </br> </div> </div> "> <!-- start of card -->
            <div class="image">
    
           <%= image_tag "https://s3.amazonaws.com/reelmovement/articles.jpg"  %> 
    
            <div class="filter"></div>
    
            </div>
              <div class="content">
              <a href="#" class="pull-right">
    
                    <i class="icon-happy"></i>
    
                 </a>                          
    
            <a href="/blog"><br>
    
                <h4 class="title text-center">Reel Movement Blog</h4>
                <p class="text-center"> Learn more about health and fitness </p>
    
                
    
            </a>
    
            </div>
    

    
        

        </div> <!-- end card -->
        </div>

        <div class="col-md-4"> 
          <div class="card card-background center-block pop-5"
           data-html="true" 
                data-toggle="popover"
                data-placement="top" 
                title="Recipes" 
                data-content="<div> <p> Time to to watch and learn how to cook some healthy nutrious meals from professional chefs </p> </div> <div id = 'close-tour' class='pull-left btn btn-fill btn-success btn-xs'> Finish tour</div> <div id = 'next-5' class='pull-right btn btn-primary btn-xs'> next tip</div> </br> </div></div> "> <!-- start of card -->
            <div class="image">
    
            <%= image_tag "https://s3.amazonaws.com/reelmovement/cleaneating.jpg"  %> 

            <div class="filter"></div>
    
          </div>
             <div class="content">
                <a href="#" class="pull-right">
                  <i class="icon-happy"></i>
                </a>                          
    
             <a href="/recipes"><br>
    
                <h4 class="title text-center">Find your perfect meal</h4>
                <p class=" text-center"> Healthy recipes made easy</p>
    
                
    
            </a>
            </div>
          </div> <!-- end card -->
        </div>

          <div class="col-md-4"> 
            <div  class="card card-background center-block pop-6"
             data-html="true" 
                data-toggle="popover"
                data-placement="top" 
                title="Corrective Exercise" 
                data-content="<div> <p> Here we have access to our corrective exercise programs. Go ahead take a quick corretive questionare and find a program to help you get rid of some muscle imbalances </p> </div> <div id = 'close-tour' class='pull-left btn btn-fill btn-success btn-xs'> Finish tour</div> </br></div> "> <!-- start of card -->
              <div class="image">
    
                <%= image_tag "https://s3.amazonaws.com/reelmovement/home-workout.jpg"  %> 

                <div class="filter"></div>
              </div>
                
                <div class="content">
                  <a href="#" class="pull-right">
                    <i class="icon-happy"></i>
                  </a>                          
    
                  <a href="/corrective_exercise"><br>
    
                  <h4 class="title text-center">Corrective Exercise</h4>
                  <p class="text-center"> Lets fix some muscle imbalances</p>
                  </a>
                </div>
            </div> <!-- end card -->
          </div>
        </div>
    </div>  <!-- end of container -->
  </section>




 <%= render 'layouts/programmodal' %>

  


