

<section class= "user-background"  id = "<%= current_user.program.style %>">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"> <%= raw current_user.program.title %> </h2>
                   
                </div>
            </div>
            <div class="row">
               
                <div class="user-program video-container">
                    
                     
             <%= raw current_user.program.code_one %> 
                                            
                </div>
            </div>
        <div class=" col-md-6 col-md-offset-3">
          
           <button class="btn btn-success user-button"> Next Workout</button> 

    <button class="btn btn-success user-button program-two" data-toggle="modal" data-target="#myModal">Launch demo modal</button>    
     
    <button class="btn btn-success user-button program-three" data-toggle="modal" data-target="#myModal">
    
      Launch demo modal
    
    </button> 
        </div>
             

  </section>




  <section class="container user-background" id='user-cards'>
    <div class="row">
      
      <div class="col-md-4">  
       <div class="card card-background">
    
        <div class="image">
    
           <%= image_tag "https://s3.amazonaws.com/reelmovement/articles.jpg"  %> 
    
            <div class="filter"></div>
    
        </div>
    
         <div class="content">
    
            <h5 class="price">&euro; 129,00
    
                 <a href="#" class="pull-right">
    
                    <i class="icon-happy"></i>
    
                 </a>
    
             </h5>                           
    
            <a href="/blog"><br>
    
                <h4 class="title text-center">Reel Movement Blog</h4>
                <p class="text-center"> Learn more about health and fitness </p>
    
                
    
            </a>
    
        </div>
    
       
    </div> 
</div> <!-- end card -->

  <div class="col-md-4">  
     <div class="card card-background">
    
        <div class="image">
    
            <%= image_tag "cleaneating.jpg"  %> 
    
            <div class="filter"></div>
    
        </div>
    
         <div class="content">
    
            <h5 class="price">&euro; 129,00
    
                 <a href="#" class="pull-right">
    
                    <i class="icon-happy"></i>
    
                 </a>
    
             </h5>                           
    
            <a href="#"><br>
    
                <h4 class="title text-center">Find your perfect meal</h4>
                <p class=" text-center"> Healthy recipes made easy</p>
    
                
    
            </a>
    
        </div>
    
      
    
    </div> 
    </div> <!-- end card -->

    <div class="col-md-4">  
     <div class="card card-background">
    
        <div class="image">
    
            
            <%= image_tag "planks1.jpg"  %> 
    
            <div class="filter"></div>
    
        </div>
    
         <div class="content">
    
            <h5 class="price">&euro; 129,00
    
                 <a href="#" class="pull-right">
    
                    <i class="icon-happy"></i>
    
                 </a>
    
             </h5>                           
    
            <a href="#"><br>
    
                <h4 class="title text-center">Corrective Exercise</h4>
                <p class="text-center"> Lets fix some muscle imbalances</p>
    
                
    
            </a>
    
        </div>
    
        
    
    </div> 
    </div> <!-- end card -->

    </div>



  </section>

  <section>


    <div id="acordeon">
    
        <div class="panel-group" id="accordion">
    
         
          
          <div class="panel panel-default">
    
            <div class="panel-heading">
    
              <h4 class="panel-title text-center">
    
                <a data-toggle="collapse" href="#collapseThree">
    
              <i class="fa fa-angle-double-down"></i>  Click here for program Details <i class="fa fa-angle-double-down"></i>
    
                </a>
    
              </h4>
    
            </div>
    
            <div id="collapseThree" class="panel-collapse collapse">
    
              <div class="panel-body col-md-6 col-md-offset-3">
                <%= current_user.program.description%>
    
              </div>
    
            </div>
    
          </div>
    
        </div>
    
        
    
    </div><!--  end acordeon -->
    

<div class="row">

  <div class=" col-md-8">
       <%= raw current_user.program.schedule %> 
  </div>

 <div class="intro-text col-md-4  center-block">

                     <div class="card card-background">
    
        <div class="image">
    
           <%= image_tag "board.jpg"  %> 
    
            <div class="filter"></div>
    
        </div>
    
         <div class="content">
    
            <h4 class="title text-center">Your assessment results</h4>
    
    
                
                   <ul>
                      
                      <li> <span class="badge pull-right"> <%=current_user.assessment.rhr %></span>  Resting Heart Rate </li>
                      <li > <span class="badge pull-right"><%=current_user.assessment.push_ups%></span> Push Ups</li>
                      <li > <span class="badge pull-right"><%=current_user.assessment.planks %></span> Planks</li>
                      <li> <span class="badge pull-right"><%=current_user.assessment.wall_sits%></span> Wall Sits</li>
                    </ul>
                
    
            
    
        </div>
    
       
    </div> 
</div> <!-- end card -->
                    

</div>   
   
    
    <!-- Modal -->
    <div class="row" >
    <div class="modal fade col-md-8 col-md-offset-2" id="program-two" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    
      
    
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
    
        
    
          <div class="modal-body">
              
              <%= raw current_user.program.code_two %>
          </div>
  
    
    </div>
    </div>
    
    
    <!-- Modal -->
    
     <div class="row" >
    <div class="modal fade col-md-8 col-md-offset-2" id="program-three" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    
      
    
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
    
        
    
          <div class="modal-body">
              
              <%= raw current_user.program.code_three %>
          </div>
  
    
    </div>
    </div>
    


</div>


 <script type="text/javascript">          
        jQuery(document).ready(function(){
        $( ".program-one" ).click(function() { 
         $('#program-one').modal('show');
       });

        $( ".program-two" ).click(function() { 
         $('#program-two').modal('show');
       });

        $( ".program-three" ).click(function() { 
         $('#program-three').modal('show');

       });
        });//end script
      </script>
</section>
