<section class= "row bg-light-gray">

<div class="container">
<div class="col-md-12">
  <div class="card card-user log-in center-block">
    
        <div class="content">
    
           
    
                
    
                 <%= image_tag "https://s3.amazonaws.com/reelmovement/logo-1.jpg", class: "plain-logo center-block"   %> 
    
               
    
                  <h4 class="text-center title"> Log in  </h4> 
    
          
    
           <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: "Your Email" %>
  </div>

  <div class="form-group">
    <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "Your Password" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", class: 'btn btn-info btn-fill btn-block' %>
  </div>
<% end %>

<p> Did you <%= link_to "forgot your password?", new_password_path(resource_name) %><br /> </p>


    
        </div>
   </div>     
    
    </div> <!-- end card -->
 </div>   

    <!-- promo video -->
     <%= render 'layouts/promo' %>

</section>    
    