


 <!-- Button trigger modal -->
  
     
      <a class="popup-modal" id="call-to-action" href="#test-modal">
      <i class="fa fa-pencil"></i>
      <p> Sign up</p>
      </a>

      
                  

<!-- Modal -->
    <div id="test-modal" class="white-popup-block mfp-hide">
    
      <div class="modal-dialog modal-small container row">
    
        <div class="modal-content">
    
          <div class="modal-header">
    
            <p><a class="popup-modal-dismiss pull-right" href="#">&times;</a></p>
                  
                  <%= image_tag "https://s3.amazonaws.com/reelmovement/logo-1.jpg", class: "plain-logo center-block"   %> 
      
            <h4 class="modal-title text-center">Sign up now!</h4>
            <p class="text-center "> This is the first step to new you. Best part,&nbsp;it's&nbsp;free&nbsp;for&nbsp;14&nbsp;days! </br> if you cancel before your trial period is&nbsp;over&nbsp;you&nbsp;won't&nbsp;be&nbsp;charged  </p>

           
           
          </div>
    
          <div class="modal-body sign_up">
    
           <%= form_for(resource, as: resource_name, url: registration_path(resource_name), remote: true) do |f| %>
          <%= devise_error_messages! %>


          <div class="form-group">
                    <%= f.text_field :name, class: 'form-control', placeholder: "Your Name" %>
          </div>

          <div class="form-group">
            <%= f.email_field :email,class: 'form-control', placeholder: "Your Email", autofocus: true %>
          </div>

          <div class="form-group">
            <%= f.password_field :password, class: 'form-control', placeholder: "Your Password (8 characters minimum)", autocomplete: "off" %>
          </div>

          <div class="form-group">
            <%= f.password_field :password_confirmation,class: 'form-control', placeholder: "Password Confirmation", autocomplete: "off" %>
          </div>

  
            <%= f.submit "Sign up", class: 'btn btn-info btn-fill btn-block'  %>

            <% end %>

          

<div class="card card-price stripe-form">
                            <div class="content">
                                <h6 class="category">Your Plan</h6>
                                <h1 class="price">
                                    <small>$</small>15<small> /mo</small>
                                </h1>                        
                                <p> Don't worry! you won't be charged until the end of your 14-day trial</p>
                                <ul class="list-unstyled list-lines">
                                    <li>
                                      <i class="fa fa-check"></i> <b>Unlimited</b> access to all programs, recipes, and corrective exercise
                                    </li>
                                    <li>
                                      <i class="fa fa-check"></i>  <b>Constant</b> updates and new programs
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i>  <b>Learn</b> to cook healthy meals
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i> </i> <b>Cancel</b> anytime
                                    </li>
                                </ul>
                            </div>
                            <div class="footer">
                              <%= render 'layouts/stripeform' %>
                            </div>
                        </div>

                       
       </div>


       <div class="col-md-12"> 

  <div id="subscribe_user">
       <%= render 'layouts/policies' %>
       
  </div>

<div class="subscription">
 <%= form_for(:subscription, remote: true, :url => {:action => 'create'}) do |f| %>

                            <div> 
                               
                              <%= f.check_box :subscribed, {}, "true", "false"%>
                              <%= label_tag(:subscribed, "Accept our terms and policies") %> 
                            </div>

                            
                            <div class="actions">
                            <%= f.submit "Accept our Terms and Privaciy Policy", class: 'btn btn-success btn-fill btn-block' %>
                            </div>

                       
                          <% end %>

       
</div>
</div>
</div>
      
<div class="modal-footer">
       <span class="text-muted">Looking to <%= link_to "Log in", new_session_path(resource_name) %>?</span>
      </div>

      
        </div>
    
      </div>
    


    </div>

   