


 <!-- Button trigger modal -->
          
      <a href="#" data-toggle="modal" data-target="#mymodal" class="call-to-action"> 
      <i class="icon-pencil"></i>
      <p> Sign up</p>
      </a>
                  
      


<!-- Modal -->
    <div class="modal fade register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="mymodal">
    
      <div class="modal-dialog modal-small container row">
    
        <div class="modal-content">
    
          <div class="modal-header">
    
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    
    
            <h4 class="modal-title text-center">Sign up now!</h4>

           
            <%= image_tag "logo.png", class: "plain-logo center-block"   %> 
           
          </div>
    
          <div class="modal-body sign_up">
    
           <%= form_for(resource, as: resource_name, url: registration_path(resource_name), remote: true) do |f| %>
          <%= devise_error_messages! %>


          <div class="form-group">
                    <%= f.text_field :name, class: 'form-control', placeholder: "Your Name" %>
          </div>

          <div class="form-group">
            <%= f.email_field :email,class: 'form-control', placeholder: "Your Email", autofocus: true %>
          </div>

          <div class="form-group">
            <%= f.password_field :password, class: 'form-control', placeholder: "Your Password (8 characters minimum)", autocomplete: "off" %>
          </div>

          <div class="form-group">
            <%= f.password_field :password_confirmation,class: 'form-control', placeholder: "Password Confirmation", autocomplete: "off" %>
          </div>

  
            <%= f.submit "Sign up", class: 'btn btn-info btn-fill btn-block'  %>

            <% end %>

          <div id="stripe">
          <a  href="#card-product-carousel" >
            <i class="fa fa-chevron-left pull-left hidden"></i>
          </a>
       
          <a  href="#card-product-carousel" >
            <i class="fa fa-chevron-right pull-right hidden"></i>
          </a>
        <script type='text/javascript'>var _fo=_fo||[];_fo.push({'d':'center','c':'f37e68','i':14412});if(typeof fce=='undefined'){var s=document.createElement('script');s.type='text/javascript';s.async=true;s.src='https://'+'formcrafts.com/js/fc.js';var fi=document.getElementsByTagName('script')[0];fi.parentNode.insertBefore(s,fi);fce=1;}</script><div id='f37e68'><a href='http://formcrafts.com/a/14412'>Monthly Membership</a></div>
       </div>


       
       <button class="btn btn-success center-block" id="terms-button">Take the next step</button>
       <div id="subscribe_user">

       <a  href="#card-product-carousel" >
            <i class="fa fa-chevron-left pull-left"></i>
          </a>
       
          <a  href="#card-product-carousel" >
            <i class="fa fa-chevron-right pull-right"></i>
          </a>
    

       <h4 class="text-center">Terms of service and privacy policy</h4>
       <div id="terms" class="form-control">

         <h5 class="text-center">REEL MOVEMENT Terms of Service</h5>
         <h6 class="text-center">LAST UPDATED: January 23, 2016</h6>
         <p> 



Reel Movement, LLC ("Reel Movement," “RM,” "we," or "us") is an online fitness service located at ReelMovement.com (the "Site") with related mobile applications and desktop applications and websites, (collectively, the "Services"). By registering as a member or by using the Service in any way, you accept these Terms of Service ("Agreement" or "Terms"), which forms a binding agreement between you and Reel Movement. 

Prior to using the Reel Movement Services, it is important for you to know and understand that by visiting the Site and/or using the Services, you are agreeing to accept certain liability limitations and legal and health disclaimers, which we further explain throughout this Agreement. In other words, your use of the Reel Movement Service is at your own risk, and we do not assume any liability, or make any warranties of any kind, express or implied, with respect to the Service or your use of the Service.
 
IF YOU DO NOT ACCEPT AND AGREE TO BE BOUND BY ALL OF THE TERMS OF THIS AGREEMENT, INCLUDING OUR PRIVACY POLICY, LIMITATIONS OF LIABILITY, WARRANTY DISCLAIMERS AND GENERAL HEALTH AND LEGAL DISCLAIMERS, DO NOT USE THE SITE OR THE REEL MOVEMENT SERVICE. 

By using the Service, you consent to receiving this Agreement in electronic form. To withdraw this consent, you must cease using the Service and terminate your account. 

Please contact us with any questions regarding this Agreement. 

HEALTH WARNING AND LIABILITY DISCLAIMER:
YOUR USE OF THE REEL MOVEMENT SERVICE IS AT YOUR OWN RISK.  YOU SHOULD CONSULT YOUR PHYSICIAN OR OTHER HEALTH CARE PRACTITIONER BEFORE STARTING THIS OR ANY OTHER EXERCISE PROGRAM, PARTICULARLY IF YOU OR YOUR FAMILY HAVE A HISTORY OF HIGH BLOOD PRESSURE OR HEART DISEASE, OR IF YOU HAVE EVER EXPERIENCED DISCOMFORT WHILE EXERCISING.

NOTHING STATED OR POSTED ON THE REEL MOVEMENT SERVICE IS INTENDED TO BE, AND MUST NOT BE TAKEN TO BE, THE PROVISION OF MEDICAL OR PROFESSIONAL ADVICE OR CARE.

REEL MOVEMENT SHALL NOT BE LIABLE FOR ANY LIABILITY, OF ANY KIND, RESULTING FROM THE USE OF THE REEL MOVEMENT SERVICE.

Warning Statement - Healthy Recipes
The REEL MOVEMENT SITE may contain recipes, meal recommendations, dietary advice (collectively, the “Dietary ADVICE”). You should always consult with your physician or other healthcare professional before adopting any Dietary ADVICE. The Dietary ADVICE may include ingredients that you are allergic to.  If you have or suspect that you have an allergic reaction or other adverse health event, promptly contact your health care provider.

Who May Use the Reel Movement Service
AGE REQUIREMENT: You must be at least 18 years old to use the Reel Movement Service.
NOTICE TO PARENTS AND GUARDIANS: You are responsible for monitoring and supervising your child's use of the Reel Movement Service. If your child is using the Reel Movement Service without your express consent and is under 18, please contact us immediately so that we can disable his or her access. If you have questions about Reel Movement, please contact us at support@reelmovement.com.
Professional Advice and Medical Disclaimer.
YOU SHOULD CONSULT YOUR PHYSICIAN OR OTHER HEALTH CARE PROFESSIONAL BEFORE STARTING THIS OR ANY OTHER EXERCISE OR NUTRITION PROGRAM TO DETERMINE IF IT IS RIGHT FOR YOUR NEEDS. THIS IS PARTICULARLY TRUE IF YOU (OR YOUR FAMILY) HAVE A HISTORY OF HIGH BLOOD PRESSURE OR HEART DISEASE, OR IF YOU HAVE EVER EXPERIENCED CHEST PAIN WHEN EXERCISING, SMOKE, HAVE HIGH CHOLESTEROL, OR HAVE A BONE OR JOINT PROBLEM THAT COULD BE MADE WORSE BY A CHANGE IN PHYSICAL ACTIVITY.  DO NOT USE THE REEL MOVEMENT SERVICE IF YOUR PHYSICIAN OR HEALTH CARE PROVIDER ADVISES AGAINST IT.  IF YOU EXPERIENCE FAINTNESS, DIZZINESS, PAIN OR SHORTNESS OF BREATH AT ANY TIME WHILE EXERCISING, YOU SHOULD STOP IMMEDIATELY.

THE REEL MOVEMENT SERVICE OFFERS HEALTH AND FITNESS INFORMATION AND IS DESIGNED FOR INFORMATIONAL PURPOSES ONLY. NOTHING STATED OR POSTED ON THE REEL MOVEMENT SITE OR AVAILABLE THROUGH ANY REEL MOVEMENT SERVICES IS INTENDED TO BE, AND MUST NOT BE TAKEN TO BE, THE PROVISION OF MEDICAL, PROFESSIONAL OR COUNSELING CARE. FOR PURPOSES OF THIS AGREEMENT, THE PRACTICE OF MEDICINE AND COUNSELING INCLUDES, WITHOUT LIMITATION, PSYCHIATRY, PSYCHOLOGY, PSYCHOTHERAPY, OR PROVIDING HEALTH OR NUTRITION CARE, TREATMENT, INSTRUCTIONS, DIAGNOSIS, PROGNOSIS OR ADVICE. YOU SHOULD NOT RELY ON ANY INFORMATION ON THE REEL MOVEMENT SERVICE AS A SUBSTITUTE FOR, NOR DOES IT REPLACE, PROFESSIONAL MEDICAL ADVICE, DIAGNOSIS, OR TREATMENT. IF YOU HAVE ANY CONCERNS OR QUESTIONS ABOUT YOUR HEALTH, YOU SHOULD ALWAYS CONSULT A PHYSICIAN OR OTHER HEALTH-CARE PROFESSIONAL. DO NOT EVER DISREGARD, AVOID OR DELAY OBTAINING MEDICAL OR HEALTH RELATED ADVICE FROM YOUR HEALTH-CARE PROFESSIONAL BECAUSE OF SOMETHING YOU MAY HAVE READ ON THE SERVICE. THE USE OF ANY INFORMATION PROVIDED ON THE SERVICE IS SOLELY AT YOUR OWN RISK.

IF YOU  THINK YOU ARE HAVING A MEDICAL OR HEALTH EMERGENCY, CALL YOUR HEALTH CARE PROFESSIONAL, OR 911 (IN THE UNITED STATES), IMMEDIATELY.

THE REEL MOVEMENT SITE IS CONTINUALLY UNDER DEVELOPMENT AND REEL MOVEMENT MAKES NO WARRANTY OF ANY KIND, IMPLIED OR EXPRESS, AS TO ITS ACCURACY, COMPLETENESS OR APPROPRIATENESS FOR ANY PURPOSE. IN THAT REGARD, DEVELOPMENTS IN MEDICAL RESEARCH MAY IMPACT GENERAL HEALTH, FITNESS AND ADVICE. NO ASSURANCE CAN BE GIVEN THAT THE INFORMATION CONTAINED ON THE REEL MOVEMENT SITE WILL ALWAYS INCLUDE THE MOST RECENT DEVELOPMENTS WITH RESPECT TO THE PARTICULAR MATERIAL.

Your Representations and Warranties as a Member
In becoming a Member of Reel Movement with the intent of using the Reel Movement Service, you affirm that either (A) all of the following statements are true: (i) no physician has ever informed you that you have a heart condition or that you should only do physical activities recommended by a physician; (ii) you have never felt chest pain when engaging in physical activity; (iii) you have not experienced chest pain when not engaged in physical activity at any time within the past several months; (iv) you have never lost your balance because of dizziness and you have never lost consciousness; (v) you do not have a bone or joint problem that could be made worse by a change in your physical activity; (vi) your physician is not currently prescribing drugs for your blood pressure or heart condition; (vii) you do not have a history of high blood pressure, and no one in your immediate family has a history of high blood pressure or heart problems; (viii) you are not pregnant; and (ix) you do not know of any other reason you should not exercise; or (B) your physician has specifically approved of your use of the Reel Movement Service.

General Disclaimers
Reel Movement provides the Reel Movement Service on an "as is" and "as available" basis. You therefore use the Reel Movement Service at your own risk. 

Reel Movement expressly disclaims any and all warranties of any kind, whether express or implied, including, but not limited to the implied warranties of merchantability, fitness for a particular purpose, non-infringement, and any other warranty that might arise under any law. 

Without limiting the foregoing, Reel Movement makes no representations or warranties:
That the Reel Movement Service, or any particular fitness program is suitable for you;
Regarding the adequacy or safety of the Reel Movement Service for any particular user;
That the Reel Movement Service will meet your personal needs;
That the Reel Movement Service will be permitted in your jurisdiction;
That the Reel Movement Service will be uninterrupted or error-free;
That Reel Movement will continue to support any particular feature of the Reel Movement Service; or
Concerning sites and resources outside of the Reel Movement Service, even if linked to from the Reel Movement Service.

Reel Movement reserves the right to modify the Reel Movement Service at any time. You are responsible for providing your own access (e.g., computer, mobile device, Internet connection, etc.) to the Reel Movement Service. Reel Movement has no obligation to screen or monitor any content and does not guarantee that any content made available on the Reel Movement Service complies with this Agreement or is suitable for all users. Reel Movement shall not be responsible for loss or corruption of data, and hereby waives all claims with respect to damage to Your computer system, internet access, download or display device. 

To the extent that a secondary party may have access to or view Reel Movement content on your computer or mobile device, you are solely responsible for informing such party of all provisions, terms, disclaimers and warnings in this Agreement.

To the extent any disclaimer or limitation of liability in this Agreement does not apply, all applicable express, implied, and statutory warranties will be limited in duration to a period of thirty (30) days after the date on which you first used the Reel Movement Service, and no warranties shall apply after such period.

Limitation of Liability
To the fullest extent permitted by law: (i) in no event shall Reel Movement, nor its affiliates, be liable for any direct, indirect, incidental, special, consequential, punitive, or exemplary damages, including but not limited to damages for personal injury, death, loss of livelihood, loss of enjoyment, pain and suffering, emotional distress, loss of profits, loss of future earnings, goodwill, use, and/or any other damages or other intangible losses; and (ii) Reel Movement's, and its affiliates' total liability to you shall not exceed the amounts paid by you to Reel Movement over the twelve (12) months preceding your claim(s).

IF YOU DO NOT ACCEPT THIS LIMITATION OF LIABILITY, YOU ARE NOT AUTHORIZED TO OBTAIN OR ACCESS ANY MATERIAL THROUGH THE SERVICE OR SITE.

Privacy
Your privacy rights are set forth in our Privacy Policy, which forms a part of this Agreement. Please review the Privacy Policy to learn about:
What information we may collect about you;
What we use that information for; and
When and with whom we share that information.

CONSENT TO EMAIL: When you become a Member, you agree and consent to receive email messages from us. These emails may be transactional or relationship communications relating to the Service, such as administrative notices and service announcements or changes, or emails containing commercial offers, promotions or special offers from us or third party partners.

Account
REGISTRATION: To fully use the Reel Movement Service, you must register as a member by providing a user name, password, valid email address and valid credit card information. You must provide complete and accurate registration information to Reel Movement and notify us if your information changes.

USER NAME: You may not use someone else's name, a name that violates any third party right, or a name that is obscene or otherwise objectionable.

NON-COMMERCIAL USE: Use of the Site and Service is for personal use only. Members may not use the Service in connection with any commercial endeavors, such as (i) advertising or soliciting any user to buy or sell any products or services; or (ii) for commercial purposes. Users of the Site may not use any information obtained from the Service to contact, advertise to, solicit, or sell to any other user without his or her prior explicit consent. Organizations, companies, and/or businesses may not use the Service or the Site for any purpose unless expressly authorized by Reel Movement. If you wish to inquire about possible commercial use, please contact us at support@reelmovement.com. 

Reel Movement may investigate and take any available legal action in response to illegal and/or unauthorized uses of the Site or the Service.

ACCOUNT SECURITY: You are responsible for all activity that occurs under your account, including any activity by unauthorized users. You must not allow others to use your account. You must safeguard the confidentiality of your password. If you are using a computer that others have access to, you must log out of your account after using the Reel Movement Service. If you become aware of any unauthorized access to your account, you must change your password and notify us immediately at support@reelmovement.com.

Payments
Auto billing; Subscription Fees; Free Trial Terms. The Reel Movement Service is a paid, auto-renewing subscription service. If you purchase a subscription by accepting our Free Trial offer, you are agreeing to automatic (recurring) billing, and agree to pay the charges made to your account in connection therewith. Your Subscription, and monthly billing of your account, will continue indefinitely until cancelled by you.

Your Reel Movement membership begins when you have completed the Free Trial sign-up process (i.e., when we collect your personal and payment information). At the end of your 14-day Free Trial, you will begin to be billed automatically each month (about every 30 days) until you cancel. Once we begin to bill you, cancellations take effect starting at the end of your current billing period, meaning there are no partial month refunds or credits. If you cancel your Free Trial membership at anytime in the first fourteen days (i.e., during the Free Trial period), you will not be charged.

The pricing of our Services may vary periodically. We cannot guarantee that the price of your Subscription is the lowest available, or historically lowest or best, price. You will be charged in accordance with the billing terms you agreed to at the time you signed up.

HOW TO CANCEL
If you do not wish for your account to renew automatically, or if you want to change or terminate your subscription, log into your account, and follow the instructions from the Account Settings page.

Your cancellation will take effect starting at the end of your current billing period and you will continue to have access to your account through the account expiration date. So, for example, if you have a monthly subscription that began on the first of the month but cancel mid-month, your cancellation will take effect as of the beginning of the following month. There are no refunds on Reel Movement subscriptions for billing periods that have already lapsed.

Authorization. When you sign up for our Service and provide a payment method to Reel Movement, you are granting your express consent and are expressly authorizing us (and our designated payment processor) to automatically charge you each month for the Service. 

If you provide a payment method and our charge results in an overdraft, chargeback or other fee from your bank, you alone are responsible for that fee.

EVEN IF YOU DO NOT USE THE SUBSCRIPTION OR ACCESS THE REEL MOVEMENT APPLICATION, YOU WILL BE RESPONSIBLE FOR ANY SUBSCRIPTION FEES UNTIL YOU CANCEL YOUR SUBSCRIPTION OR IT IS OTHERWISE TERMINATED. 

Changes. Reel Movement may change, modify, add, remove, suspend, cancel or discontinue any aspect of it subscriptions including the functionality, content, and/or availability of any features of such subscriptions at any time in Reel Movement's sole discretion.  Reel Movement may increase its fees for any subscription effective the first day of a billing renewal by giving you notice of the new fees at least thirty (30) days before you are billed. If you do not cancel your subscription, you will be deemed to have accepted the new fees. 

Term and Termination; Account Deletion
TERM: This Agreement begins on the date you first use the Reel Movement Service and continues as long as you have an account with us.

CANCELING YOUR SUBSCRIPTION: See Section VIII above.

ACCOUNT DELETION: You may delete your account at any time. We reserve the right, but are under no obligation, to delete an account from the Reel Movement Service that remains inactive (i.e., the user fails to log in) for a continuous period of at least six (6) months, or immediately when payment expires, is withdrawn or otherwise ceases.

TERMINATION FOR BREACH: Reel Movement may suspend, disable, or delete your account (or any part thereof) if Reel Movement determines that you have violated any provision of this Agreement or that your conduct would tend to damage Reel Movement's reputation or goodwill. If Reel Movement deletes your account for the foregoing reasons, you may not re-register for the Reel Movement Service. Reel Movement may block your email address and Internet protocol address to prevent further registration. Reel Movement is not required to disclose, and may be prohibited by law from disclosing, the reason for the termination or suspension of your account.

After your membership or subscription is terminated for any reason, all terms of this Agreement survive such termination, and continue in full force and effect, except for any terms that by their nature expire or are fully satisfied.

EFFECT OF TERMINATION/ACCOUNT DELETION: Upon termination, all licenses granted by Reel Movement will terminate. Sections that, by their nature, are intended to survive termination shall continue indefinitely.

Code of Conduct and Prohibited Activities
In using the Reel Movement Service, you will not and it is strictly prohibited to:
Act in a deceptive manner by, among other things, impersonating any person;
Harass or stalk any other person;
Harm or exploit minors;
Distribute "spam";
Promote information that is false or misleading, or promote illegal activities or conduct that is defamatory, libelous or otherwise objectionable;
"frame" or "mirror" any part of the Service or the Site;
use meta tags or code or other devices containing any reference to Reel Movement, the Site or the Service (or any trademark, trade name, service mark, logo or slogan of Reel Movement) to direct any person to any other website for any purpose;
modify, adapt, sublicense, translate, sell, reverse engineer, decipher, decompile or otherwise disassemble any portion of the Service or the Site or any software used on or for the Service or the Site, or cause others to do so;
post, use, transmit or distribute, directly or indirectly, (e.g. screen scrape) in any manner or media any content or information obtained from the Site or the Service other than solely in connection with your use of the Service in accordance with this Agreement.
Collect information about others; 
Advertise or solicit others to purchase any product or service within the Reel Movement Site; 
Promote fraudulent schemes, multi level marketing (MLM) schemes, get rich quick schemes, online gaming and gambling, cash gifting, work from home businesses, or any other dubious money-making ventures;
Publicize or promote commercial activities and/or sales without our prior written consent such as contests, sweepstakes, barter, advertising, and pyramid schemes; or
Participate in any activity that in any way violates any law.

Reel Movement has the right, but not the obligation, to monitor all conduct on the Reel Movement Service.  Reel Movement reserves the right, in its sole discretion, to investigate and take appropriate legal action against anyone who violates our Terms, including removing the offending communication from the Site or Service and terminating or suspending the membership of such violators.

Your use of the Site and Service, must comply with all applicable laws and regulations. You agree that Reel Movement may access, preserve and disclose your account information if required to do so by law or in a good faith belief that such access, preservation or disclosure is reasonably necessary, such as to: (i) comply with legal process; (ii) enforce this Agreement; (iii) respond to claims that any Content violates the rights of third parties; (iv) respond to your requests for customer service or allow you to use the Site in the future; or (v) protect the rights, property or personal safety of the Company or any other person.

Indemnification  
You agree to indemnify, defend, and hold harmless Reel Movement and its affiliates, directors, officers, employees, and agents, from and against any liability, claims, damages, losses and costs (including reasonable attorney's fees) that: (i) arise from your activities on the Reel Movement Service; or (ii) assert a violation by you of any term of this Agreement. Reel Movement reserves the right to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will fully cooperate with Reel Movement in connection therewith.

License to Use the Reel Movement Service
LICENSE: Reel Movement grants you a limited, non-exclusive license to access and use the Reel Movement Service for your own personal, non-commercial purposes. This includes the right to view content available on the Reel Movement Service. This license is personal to you and may not be assigned or sublicensed to anyone else.

RESTRICTIONS: Except as expressly permitted by Reel Movement in writing, you will not reproduce, redistribute, publicly display, sell, create derivative works from, decompile, reverse engineer, or disassemble the Reel Movement Service. Nor will you take any measures to interfere with or damage the Reel Movement Service. All rights not expressly granted by Reel Movement are reserved.

MOBILE DEVICES, APPLICATIONS AND SET-TOP BOXES/EXTERNAL DEVICES: 
These Terms of Service, and all of the provisions herein, also govern the use of our mobile, desktop and set-top devices and related applications. 

Your use of the Reel Movement Service through any applications or device constitutes your agreement to be bound by these Terms.

Any Reel Movement application, regardless of the manner and means in which it is downloaded is licensed, not sold, to You for use only under these Terms. We, the licensor, Reel Movement LLC, reserve all rights not expressly granted to You.

Accordingly, if you download the Reel Movement Application, you will be: 
installing a software program on your product in the form of an application;
entering into this contract with Reel Movement LLC governing your use of the application.

Third Party Links and Content
Certain links on the Reel Movement Sites and/or the Reel Movement Service may let you leave the particular Reel Movement Site or Reel Movement Service you are accessing in order to access a linked site (the "Linked Sites"). When you are linking to a third party site, it is important to know that Reel Movement does not control these sites, nor has Reel Movement reviewed or approved the content which appears on the linked sites. Reel Movement is not responsible for the legality, accuracy or nature of any content, advertising, products or other materials on or available from any linked sites, or the conduct of such linked sites. You acknowledge and agree that Reel Movement shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of any of the links, content, goods or services available on or through the linked sites.

Dealings with Third Parties.
More specifically, your participation, correspondence or business dealings with any third party found on or through the Reel Movement Sites and Service (i.e., a linked site), regarding payment and delivery of specific goods and services, and any other terms, conditions, representations or warranties associated with such dealings, are solely between you and such third party. You agree that Reel Movement shall not be responsible or liable for any loss, damage, or other matters of any sort incurred as the result of such dealings.

Intellectual Property
You acknowledge that the Reel Movement Site and Services contain software, graphics, photos, videos, know-how, product ideas, comments and other material (collectively, "Content") that is protected by copyrights, patents, trademarks, trade secrets or other proprietary rights, and that these rights are valid and protected in all forms, media and technologies existing now or hereafter developed. All Reel Movement-generated Content and Content devolped for Reel Movement by its partners and licensors is copyrighted individually and/or as a collective work under the U.S. copyright laws; further, Reel Movement owns a copyright in the selection, coordination, arrangement and enhancement of all Content in the Reel Movement Site. Subject to your compliance with these Terms, and solely for so long as you are permitted by us to access and use the Services, you may download one copy of the application (but never the Content) to any single computer or device for your personal, non-commercial home use only, provided you keep intact all copyright and other proprietary notices, and are in compliance with these Terms. Unless otherwise specified, modification of the Content or use of the Content for any other purpose, including use of any such Content on any other website or networked computer environment is strictly prohibited.

The Reel Movement name, logos and affiliated applications and technologies are the exclusive property of Reel Movement, Inc. All other trademarks appearing on the Services are trademarks of their respective owners. Our partners or service providers may also have additional proprietary rights in the content which they make available through the Services. The trade names, trademarks and service marks owned by us, whether registered or unregistered, may not be used in connection with any product or service that is not ours, in any manner that is likely to cause confusion. Nothing contained on the Services should be construed as granting, by implication, estoppel or otherwise, any license or right to use any of our trade names, trademarks or service marks without our express prior written consent.

Reel Movement owns and retains all proprietary rights in the Site and the Service, and in all content, trademarks, trade names, service marks and other intellectual property rights related thereto. You agree to not copy, modify, transmit, create any derivative works from, make use of, or reproduce in any way any copyrighted material, trademarks, trade names, service marks, or other intellectual property or proprietary information accessible on the Site or through the Service, without first obtaining the prior written consent of the Company or, if such property is not owned by the Company, the owner of such intellectual property or proprietary rights. You agree to not remove, obscure or otherwise alter any proprietary notices appearing on any content, including copyright, trademark and other intellectual property notices.

General Provisions
ARBITRATION AND GOVERNING LAW:
The exclusive means of resolving any dispute or claim arising out of or relating to this Agreement (including any alleged breach thereof), the Service, or the Site shall be binding arbitration administered by the American Arbitration Association. The one exception to the exclusivity of arbitration is that you have the right to bring an individual claim against Reel Movement in a small-claims court of competent jurisdiction. But whether you choose arbitration or small-claims court, you may not under any circumstances commence or maintain against Reel Movement or its affiliates any class action, class arbitration, or other representative action or proceeding.

By using the Site or the Service in any manner, you agree to the above arbitration agreement. In doing so, you give up your right to go to court to assert or defend any claims between you and Reel Movement or its affiliates (except for matters that may be taken to small-claims court). You also give up your right to participate in a class action or other class proceeding. Your rights will be determined by a neutral arbitrator, not a judge or jury. You are entitled to a fair hearing before the arbitrator. The arbitrator can grant any relief that a court can, but you should note that arbitration proceedings are usually simpler and more streamlined than trials and other judicial proceedings. Decisions by the arbitrator are enforceable in court and may be overturned by a court only for very limited reasons.

Any proceeding to enforce this arbitration agreement, including any proceeding to confirm, modify, or vacate an arbitration award, may be commenced in any court of competent jurisdiction. In the event that this arbitration agreement is for any reason held to be unenforceable, any litigation against Reel Movement (except for small-claims court actions) may be commenced only in the federal or state courts located in New York County, New York. You hereby irrevocably consent to the jurisdiction of those courts for such purposes and you irrevocably waive any right to a trial by jury.

This Agreement, and any dispute between you and Reel Movement, shall be governed by the laws of the state of New York without regard to principles of conflicts of law, provided that this arbitration agreement shall be governed by the Federal Arbitration Act.

INTERPRETATION; SEVERABILITY; WAIVER; REMEDIES: Headings are for convenience only and shall not be used to construe the terms of this Agreement. If any term of this Agreement is found invalid or unenforceable by any court of competent jurisdiction, that term will be severed from this Agreement. No failure or delay by Reel Movement in exercising any right hereunder will waive any further exercise of that right. Reel Movement's rights and remedies hereunder are cumulative and not exclusive.

SUCCESSORS; ASSIGNMENT; NO THIRD PARTY BENEFICIARIES: This Agreement is binding upon and shall inure to the benefit of both parties and their respective successors, heirs, executors, administrators, personal representatives, and permitted assigns. You may not assign this Agreement without Reel Movement's prior written consent. No third party shall have any rights hereunder.

NOTICES: You consent to receive all communications including notices, agreements, disclosures, or other information from Reel Movement electronically. Reel Movement may provide all such communications by email or by posting them on the Reel Movement Service. For support-related inquiries, you may send an email to support@reelmovement.com 

Nothing herein shall limit Reel Movement's right to object to subpoenas, claims, or other demands.

MODIFICATION: This Agreement may not be modified except by a revised Terms of Service posted by Reel Movement on the Reel Movement Site or a written amendment signed by an authorized representative of Reel Movement. A revised Terms of Service will be effective as of the date it is posted on the Reel Movement Site.

ENTIRE AGREEMENT: This Agreement constitutes the entire understanding between Reel Movement and you concerning the subject matter hereof and supersedes all prior agreements and understandings regarding the same.


         </p>

          <h5 class="text-center">REEL MOVEMENT Privacy Policy</h5>
         <h6 class="text-center">LAST UPDATED: January 23, 2016</h6>

         <p>
          

At Reel Movement LLC, (“Reel Movement”) we respect the privacy of our members and the importance of the information they entrust to us. With this in mind, we provide you this privacy policy (the “Policy”) to help you understand the kinds of information we may gather about you when you visit the Site or use any of our Services, how we may use and disclose the information, and how you can control, correct and/or update the information. By visiting the Reel Movement website or using the Reel Movement services, you are accepting the policies and practices described in this Policy. Each time you visit the Reel Movement website or use the Reel Movement services, you agree and expressly consent to our collection, use and disclosure of the information that you provide as described in this Policy. 

Information We May Collect
We may collect information that can identify you (“personal information”), such as your name, email address, age, weight, personal fitness profile, and comments, photographs, video submissions or likeness when you provide it to us when using our website (e.g., by creating a user login on our site), or in some other manner, e.g., by posting or submitting it to our website, to Facebook using our website, or to our Facebook, Instagram or Youtube pages. We may also collect information from (i) from our business partners, and (ii) from other third parties as we futher describe in this Policy. We may combine the personal information that we receive from different sources. 

We also may collect other types of information in the following ways when you visit our Reel Movement website: 
Our server logs automatically collect information, such as your IP address, your browser type and language, and the date and time of your visit, which helps us track users’ movements around our site and understand trends.
We may assign your computer one or more cookies which may collect information to facilitate access to our website and to personalize your online experience.
We may use standard Internet tools, such as web beacons, which collect information that tracks your use of our website and enables us to customize our services and advertisements.
We use third party analytics tools, such as Google Analytics, to collect and analyze certain user information and behavior. This information may include demographic and interest information, such as age, gender and users interests. We use this information for internal business purposes on an aggregated, anonymous basis. To opt-out of Google Analytics data collection, you can visit the following site and follow the opt-out procedures: https://tools.google.com/dlpage/gaoptout/
We may also collect certain information, such as the URL of the last web page you visited before coming to our Site, your preferences and settings (e.g., time zone), the ads you clicked on or viewed on our Site (if any), how long you stayed on our Site and what services and features you used.

We do not knowingly collect personal information from children under the age of 13. Should we ever do so, we will comply with the Children’s Online Privacy Protection Act. 

How We May Use Information We Collect
We may use information to: 
Provide our products and services and improve and customize services;
Send newsletters to our users and make special offers;
Offer products and services that may be of interest to you;
Process payment for products or services you order via our website;
Customize the advertising and content that you see on our website;
Facilitate use of our website;
Manage your account and your preferences;
Analyze use of and improve our website, products and services;
Identify and protect against fraudulent transactions and other misuses of our website; and
Enforce our Terms of Use.

We may collect credit card or additional payment information from you. However, it’s important to note that we do not store any of this payment information or process any of your payments on our servers, but rather use a third party payment service known as ‘Stripe.’ Therefore, any information regarding your payment processing and security must be verified in Stripe’s own Terms of Service Agreement and Privacy Policy. The payment processor, ‘Stripe’, may provide us with unique authentication tokens to make payments requests with. The payment processor ‘Stripe’ may also provide us with information such as your name, credit card type, expiration date, and the last four digits of your credit card number. This information is used only for the purposes of completing transactions you have initiated through the Services, enrolling you in discount, rebate, and other programs in which you elect to participate, protecting against or identifing possible fraudulent transactions, and otherwise as needed to manage our business.

With Whom We May Share Information We Collect
We will not share your personal information with others except as indicated below, or except when we inform you in advance and give you the opportunity to opt out. We may share personal information with: 
Service providers, such as credit-card payment processors, performing services on our behalf;
Other businesses with which we partner or which we carefully select to offer you products, services, and promotions through our website or offline; and
Other third parties in limited circumstances, such as reporting suspected criminal activity, complying with legal requirements, preventing fraud, and protecting the safety of our users.

We may share aggregated, anonymous information in any of the above situations and also with service providers, advertisers and others for our own marketing purposes and for purposes of improving the manner in which, and to whom, we offer our services. 

Your Choices
You may choose: 
Not to provide personal information, although that may result in your inability to obtain certain services or use certain features of our website;
To stop receiving promotional emails or newsletters from us by sending an email to the email address at the bottom of this policy;
To delete or decline cookies by changing your browser settings, although if you do so, some of the features or services of our website may not function properly;
To review and update your personal information by contacting us at the email address below or, if you have an online account on our website, by logging into that account.
You may opt-out of any Google Analytics-related collection by visiting the following site and following the opt-out procedures: https://tools.google.com/dlpage/gaoptout/.

Security
We take appropriate commercially reasonable physical, electronic, and other security measures to help safeguard personal information from unauthorized access, alteration, or disclosure. 

Third-Party Links
The Reel Movement website may link to websites operated by third parties that we do not control. We do not monitor, control, or endorse the information collection or privacy practices of any third parties. We strongly encourage you to become familiar with the privacy practices of every website you visit and to contact them if you have any questions about their respective privacy policies and practices. This Policy applies solely to information collected by us through the Reel Movement website or services and does not apply to these third-party websites. The ability to access information of third parties from the Reel Movement website or services, or links to other websites or locations, is for your convenience only and does not signify our endorsement of such third parties, their products, services, websites, locations, or their content. 

Privacy Policy Changes
Reel Movement reserves the right to change, modify, add, or remove portions of this Policy at any time and without prior notice, and any changes will become effective immediately upon being posted unless we advise you otherwise. However, we will not use your Personal Information in a way that is materially different than the uses described in this Policy without giving you an opportunity to opt out of such differing uses. Your continued use of the Reel Movement website or services after this Policy has been amended shall be deemed to be your continued acceptance of the terms and conditions of the Policy, as amended. We encourage you to bookmark this Web page and review this Policy regularly. 

How to Contact Us
If you have any questions about this Policy, or our information practices, please contact us by email at support@reelmovement.com.. 

Linked information:
Cookies: A cookie is a small text file that is stored on a user’s computer for record keeping purposes. Cookies can be either session cookies or persistent cookies. A session cookie expires when you close your browser and is used to make it easier for you to navigate our website. A persistent cookie remains on your hard drive for an extended period of time. 

For example, when you sign in to our website, we will record your user or member ID and the name on your user or member account in the cookie file on your computer. We also may record your password in this cookie file. For security purposes, we will encrypt any usernames, passwords, and other user or member account-related data that we store in such cookies. In the case of sites and services that do not use a user or member ID, the cookie will contain a unique identifier. We may allow our authorized service providers to serve cookies from our website to allow them to assist us in various activities, such as doing analysis and research on the effectiveness of our site, content and advertising. 

You may delete or decline cookies by changing your browser settings. (Click "Help" in the toolbar of most browsers for instructions.) If you do so, some of the features and services of our website may not function properly. 

Web Beacons:
Web beacons (also known as clear gifs, pixel tags or web bugs) are tiny graphics with a unique identifier, similar in function to cookies, and are used to track the online movements of web users or to access cookies. Unlike cookies which are stored on the user’s computer hard drive, web beacons are embedded invisibly on the web pages (or in email) and are about the size of the period at the end of this sentence. 

Web beacons may be used to deliver or communicate with cookies, to count users who have visited certain pages and to understand usage patterns. We also may receive an anonymous identification number if you come to our site from an online advertisement displayed on a third-party website. 

         </p>
       </div>


<div class="subscription">
 <%= form_for(:subscription, :url => {:action => 'create'}) do |f| %>

                            <div> 
                               
                              <%= f.check_box :subscribed, {}, "true", "false"%>
                              <%= label_tag(:subscribed, "Accept our terms and policies") %> 
                            </div>

                            
                            <div class="actions">
                            <%= f.submit "Start your free 2 weeks now!", class: 'btn btn-success btn-fill btn-block' %>
                            </div>

                       
                          <% end %>

       
</div>
</div>
      
<div class="modal-footer">
       <span class="text-muted">Looking to <%= link_to "Log in", new_session_path(resource_name) %>?</span>
      </div>

      
        </div>
    
      </div>
    
    </div>

    <script type="text/javascript">
   
    $(document).on("ready page:load", function() {
        $('#f37e68').hide();// hide stripe form
        $('#subscribe_user').hide();
        $('#terms-button').hide();
         jQuery.validator.setDefaults({
    debug: false,
    success: "valid"
});;
        $('#new_user').validate({
          rules : {
             'user[name]' : { required : true,
                           minlength : 2 
                         }, //END OF USERNAME
              'user[email]' : { required : true,
                           email : true,
                           remote:"/users/check_email"
                         },  // end of email
              'user[password]' : { required : true,
                           minlength : 8
                         },  // end of password 
               'user[password_confirmation]' : { required : true,
                           equalTo : "#user_password"
                         },  // end of password 
          },//end of rules
          messages: {
    'user[name]': "Please specify your name",
    'user[email]': {
      required: "We need your email address to contact you",
      email: "Your email address must be in the format of name@domain.com",
      remote: "This email is already taken"
    },// end of email
     'user[password]': {
      required: "Please enter a password",  
    },
    'user[password_confirmation]': {
      required: "Please Re-enter your password ",
      equalTo: "Please make sure the passwords are equal"
    }
  }
        }); // end validation
$('#new_user').on('submit', function(event) {
  event.preventDefault();
   $.ajax('/users', {
    type: 'POST',
    });   
    if($(this).valid()) {
            alert('the form is valid');
            $('#new_user').remove();
            $('#f37e68').fadeIn(400);
            $('#terms-button').fadeIn(400);
        }
       }); 
  

$( "#terms-button" ).click(function() {
  $('#terms-button').fadeOut(400);
   $('#f37e68').fadeOut(400);
  $('#subscribe_user').fadeIn(400);
  });

$( ".fa-chevron-left" ).click(function() {
  $('#f37e68').fadeIn(400);
  $('#subscribe_user').fadeOut(400);
   $('#stripe i').removeClass("hidden");
   
  });

$( ".fa-chevron-right" ).click(function() {
  $('#f37e68').fadeOut(400);
  $('#subscribe_user').fadeIn(400);
  $('#stripe i').addClass("hidden");
  });

$('.subscription form').validate({
  rules : {
             'subscription[subscribed]' : 'required'
                         
          }, //end of rules
    messages : {  
      'subscription[subscribed]'  : 'please accept'
      }  
});


var $success = $('#f37e68'); 

$success.waypoint(function () { 
  console.log('Waypoint!');
  });

}); // end ready
      </script>