<!DOCTYPE html>
<html>
<head>
  <%= typekit 'yqy2cas' %>
  <title>ReelMovement</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   <%= csrf_meta_tags %>
   <%= favicon_link_tag 'favicon.ico' %>
   <meta content='width=device-width, initial-scale=1' name='viewport'/>
   <meta property="og:description" content="Take our free fitness assessment and stream a training program to meet your own personal goals">

   
   <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');

fbq('init', '334864339970535');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=334864339970535&ev=PageView&noscript=1"
/></noscript>

<!-- End Facebook Pixel Code -->
   <script type="text/javascript" src="https://js.stripe.com/v2/">
</script>

</head>

<body>
<div id="wrapper" class="bg-light-gray">

	<%= render 'layouts/header' %>
	<div id="content">

	<% flash.each do |message_type, message| %>

<div class="alert  text-center alert" <%= message_type %>><%= message %></div> <% end %>


<%= yield %>
	<%= render 'layouts/footer' %>
	</div>
	</div>
</body>

</html>
