<!DOCTYPE html>
<html>
<head>
  <%= typekit 'yqy2cas' %>
  <title>ReelMovement</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   <%= csrf_meta_tags %>
</head>

<body>
<div id="wrapper">

	<%= render 'layouts/header' %>
	<div id="content">

	<% flash.each do |message_type, message| %>

<div class="alert  text-center alert" <%= message_type %>><%= message %></div> <% end %>


<%= yield %>
	<%= render 'layouts/footer' %>
	</div>
	</div>
</body>

<script type="text/javascript">
	
	$(document).ready(function () {
  $(".alert").delay(1000).fadeOut(3000); 
});
</script>
</html>
